*{
    margin: 0;
    padding: 0;
}
.Holder{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.98);
}
.Wraper{
    height: auto;
    width: 100%;
    max-width: 400px;
    display: grid;
    grid-template-rows: 60px 30px 1fr 30px;
    font-size: 16px;
    grid-template-columns: 1fr;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-shadow: 0px 0px 2px #333;
    padding: 5px;
}
.Content_Head{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Content_Head span{
    font-weight: bold;
    margin-left: 10px;
    color: #0ef4fc;
    font-size: 25px;
    font-variant: small-caps;
    text-shadow: 0px 0px 2px #333;
    letter-spacing: 1px;
}
.Content_header{
    width: 100%;
    display: flex;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    color: #51ff00;
    text-shadow: 0px 0px 0.5px #333;
}
.Content_body{
    display: block;
    text-align: justify;
    padding: 5px;
}
.Content_footer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Content_footer a{
    height: 30px;
    width: 120px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #51ff00;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #51ff00;
    text-shadow: 0px 0px 0.5px #333;
    background-color: #ffffff;
    box-shadow: 0px 0px 2px #aaa;
    letter-spacing: 1px;
}
.Content_footer a:hover{
    background-color: #e2ffbc;
}