<!DOCTYPE html>
{% load static %}
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/Account/email_send_password_reset.css' %}">
    </head>
    <body>
        <div class="Holder">
            <div class="Wraper">
                <div class="Content_Head">Power By<br><span>ATOTA</span></div>
                <div class="Content_header">Password reset email sent</div>
                <div class="Content_body">
                    We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br><br>

                    If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
                </div>
                <div class="Content_footer">
                    <a href="{% url 'reset_password' %}">Return</a>
                </div>
            </div>
        </div>
        
        <script src="" async defer></script>
    </body>
</html>