<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/Account/SignUp_Style.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/Basic/BackEnd_Notification.css' %}" type="text/css" />
</head>

<body>
    <!-- ~~~~~~~~~~~~~~~~~~~This is Backend message section~~~~~~~~~~~~~~~~~~  -->
    {% for message in messages %}
    <div class="Notification_Message">
        <div id="Notification_message_holder" {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            <div id="Cancil_Notification_message">
                X
            </div>
            <div id="This_is_Notification_message">
                {{ message }}
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- ==========================[ Change Password Form Section ]===========================  -->
    <div id="It_is_SignUpfrom">
        <div class="Signup-Rapper">
            <div id="SignupFrom-container">
                <span class="SignupFrom-Heding">
                    <h2>Change Your Password</h2>
                </span>
                <form method="post">
                    {% csrf_token %}

                    <!-- Old Password -->
                    <div class="SignupInpu-group">
                        <div class="SignUp-IconHolder">
                            <img src="{% static 'Icon/Account/lockWeek.svg' %}" alt="LockIcon"
                                style="height: 30px; width: 30px;">
                        </div>
                        <input type="password" name="old_password" placeholder="Enter Your Old Password" autocomplete="current-password" autofocus="" required="" id="id_old_password">
                        <span class="SignUp-bar"></span>
                    </div>

                    <!-- New Password -->
                    <div class="SignupInpu-group">
                        <div class="SignUp-IconHolder">
                            <img src="{% static 'Icon/Account/lock.svg' %}" alt="LockIcon"
                                style="height: 30px; width: 30px;">
                        </div>
                        <input type="password" name="new_password1" placeholder="Enter New Password" autocomplete="new-password" required="" id="id_new_password1">
                        <span class="SignUp-bar"></span>
                    </div>
                    <span class="Validate Check_User_name"></span>

                    <!-- Re Enter New Password -->
                    <div class="SignupInpu-group">
                        <div class="SignUp-IconHolder">
                            <img src="{% static 'Icon/Account/lock.svg' %}" alt="LockIcon"
                                style="height: 30px; width: 30px;">
                        </div>
                        <input type="password" name="new_password2" placeholder="Type Password Aganin" autocomplete="new-password" required="" id="id_new_password2">
                        <span class="SignUp-bar"></span>
                    </div>
                    <span class="Validate Check_User_name"></span>

                    <!-- Submit Button -->
                    <div class="SignupInpu-group">
                        <button type="submit">Submit
                            <div class="SignUp-IconSubmit">
                                <img src="{% static 'Icon/Account/send.svg' %}" alt="SendIcon">
                            </div>
                        </button>
                    </div>
                </form>

                <div class="Cancel_SignUp" id="Candel_SignUp">
                    <a href="javascript:window.history.back()"><button>Cancel</button></a>
                </div>

            </div>
        </div>
    </div>

  <script src="{% static 'js/Basic/BackEnd_Notification.js' %}" async defer></script>
</body>
</html>