{% extends 'Basic.html' %}
{% load static %}

{% block AppnedStyle_Sheet %}
<link rel="stylesheet" href="{% static 'css/AboutAtaOta/aboutus.css' %}">
{% endblock %}


{% block body %}
<div id="AboutUs_Holder">
    <div class="AboutUs_Header">
        About ataOta
    </div>


    <div class="AboutUs_Description">
        <em>"Advance Technology Adoption and Organization of Technical Assistant"</em> as known as <em>"ataOta"</em>
        is an internet commerce marketspace where everyone can use the internet to provide an
        opportunity to create market at home, and serve customers in digital ways.
        Internet Commerce is the use of the Internet for all phases of creating and completing
        business transactions. It is established in 2020 after the pandemic. It is designed by
        globally organized local community model which allows the disaster proof business
        operation to overcome all situations with safe and secure system. With help of Ataota you
        can discover your business through online and make a stable market to overcome all kinds of fallout.
    </div>


    <div class="AboutUs_Mission"><br>
        <div class="Mission_Heading">MISSION</div>
        <div class="Mission_Description">
            <ul>
                <li>
                    All Types of Legual Products and Services Bring In Your Hand, With Proper Location.
                </li><br>
                <li>Get Together & Serve Each Other.</li><br>
                <li>Add Value In Your and Our Life Simultaneously.</li><br>
            </ul>
        </div>
    </div>

    <div class="AboutUs_Mission">
        <div class="Mission_Heading">VISION</div>
        <div class="Mission_Description">We’re excited to help you on your journey!</div>
    </div>



    <div class="AboutUs_Empolyee_Details_Holder">
        <div class="AboutUs_Empolyee_Details_Holder_InnerContainer">
            <div class="Employee_Image_Holder">
                <img src="{% static 'Image/AboutAtaOta/sudipta.jfif' %}" alt="">
            </div>
            <div class="Basic_Details_Of_Employee">
                <span class="Employee_Name">Mr. Sudipta Mandal</span><br/>
                <span class="Employee_Status">Founder</span><br/>
                <span class="Employee_Role">
                    Chief Technology Officer (CTO) – ataota. <br/>Full Stack Developer.
                </span><br/>
                <span class="Employee_qualification">
                    An ex-Employee of SIGNOTRON India (PVT LTD.)
                </span>
            </div>
        </div>

        <div class="AboutUs_Empolyee_Details_Holder_InnerContainer">
            <div class="Employee_Image_Holder">
                <img src="{% static 'Image/AboutAtaOta/soumen.jfif' %}" alt="">
            </div>
            <div class="Basic_Details_Of_Employee">
                <span class="Employee_Name">Mr. Soumen Jana</span><br/>
                <span class="Employee_Status">Co-Founder</span><br/>
                <span class="Employee_Role">
                    Chief Marketing Officer (CMO) – ataota. <br/>Former Customer Service Executive.
                </span><br/>
                <span class="Employee_qualification">
                    Mechanical Engineer at TATA VOLTAS (LTD.)
                </span>
            </div>
        </div>

        <div class="AboutUs_Empolyee_Details_Holder_InnerContainer">
            <div class="Employee_Image_Holder">
                <img src="{% static 'Image/AboutAtaOta/pranay.jfif' %}" alt="">
            </div>
            <div class="Basic_Details_Of_Employee">
                <span class="Employee_Name">Mr. Pranoy Mitra</span><br/>
                <span class="Employee_Status">Co-Founder</span><br/>
                <span class="Employee_Role">
                    Chief Financial Officer (CFO) And Relationship Manager – ataota.
                </span><br/>
                <span class="Employee_qualification">
                    B-Tech Electric Engineering Student (2nd Year college drop-out)
                </span>
            </div>
        </div>
    </div>



    <div class="AboutUs_Footer">
        <div class="AboutUs_contactUs">
            <span class="Fotter_Heading">CONTACT US</span><br/>
            Call Us: 1234567890<br/>
            support@ataota.com<br/>
            Tarakeswar pin- 712410<br/>
            Whatsapp, instagram,facebook,linkdn<br/>
        </div>
        <div class="AboutUs_customer_service">
            <span class="Fotter_Heading">CUSTOMER SERVICE</span><br/>
            Call Us: 1234567890<br/>
            support@ataota.com<br/>
            Tarakeswar pin- 712410<br/>
            Whatsapp, instagram,facebook,linkdn<br/>
        </div>
    </div>
</div>
{% endblock %}
