/* ===============[ Search Box Portion ]=============== */
.Header_Search_Box{
    height:  45px;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
.Header_Search_Box form{
    position: absolute;
    background-color: #fff;
    height: 35px;
    border-radius: 35px;
    display: flex;
    justify-content: space-between;
}
.Search_Input{
    border: none;
    outline: none;
    background-color: transparent;
    float: left;
    color: #333;
    font-size: 15px;
    line-height: 30px;
    width: 0px;
    padding: 0px 10px;
}
.Search_Action_Button{
    float: right;
    height: 35px;
    width: 35px;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Search_Action_Button:focus{
    outline: 0;
}
.Header_Search_Box form:hover{
    width: 98%;
    box-shadow: inset 0px 0px 4px #9191f1;
}
.Header_Search_Box form:hover .Search_Input{
    width: 88%;
    border-radius: 40px;
}

@media only screen and (min-width: 750px){
    .Header_Search_Box form{
        width: 60%;
        box-shadow: inset 0px 0px 3px #9191f1;
    }
    .Header_Search_Box form:hover{
        width: 60%;
    }
    .Search_Input{
        width: 85%;
        font-size: 16px;
    }
}